/* Using SCSS variables to store breakpoints */
// $bp-tablet: 768px;

$mediaBp1: 1260px;
$mediaBp2: 960px;
$mediaBp3: 768px;
$mediaMinWidth: 480px;


// @media only screen and (max-width: 600px) {
//   .App {
//     font-size: 10px
//   }
// }

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #444;
  background-image: url('./classy_fabric.png');
}

.Card {
  box-shadow: 2px 1px 4px rgba(0,0,0,.35);
  background-image: url('./creampaperLowOpac.png');
  background-color: #FFF;
  background-repeat: repeat;
  // border: 1px solid #EEE;

  width: 8em;
  height: 12.44em;
  // width: 9em;
  // height: 14em;

  // width: 13.5em;
  // height: 21em;

  // width: 11.25em;
  // height: 17.5em;


  border-radius: 3px;
  border-radius: .222em;
  padding: 0 .25em;
  margin: .25em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: box-shadow .6s, border-radius .2s, transform .5s;
  

  .Number {
    font-size: 1.8em;
    font-family: 'Roboto Slab', serif;
  }

  .Number:first-child {
    align-self: flex-start;
  }

  .Number:last-child {
    align-self: flex-end;
  }

  .Suit {
    font-size: 4em;
    align-self: center;
  }
}

.Card:hover {
  box-shadow: 3px 6px 4px rgba(0,0,0,.35), -1px -3px 3px inset rgba(0,0,0,.23), 3px 1px 8px inset rgba(255,255,255,.7);
  // border-radius: .22em .22em .5em .22em;
  transform: translate(-4px, -3px);
}

.Card.Hearts, .Card.Diamonds {
  color: #d12d36;
}

.Table {
  min-height: 60vh;
  overflow: hidden;
  border-radius: 25em;
  width: 80vw;
  margin: auto;
  margin: 5em;
  box-shadow: 0px 20px 50px rgba(0,0,0,.5), 0px 10px 20px rgba(0,0,0,.2);
}

.ArmRest {
  box-shadow: 0 0 10px 100em inset rgba(0,0,0,.2);
  background-color: #916e43;
  padding: 3em;
  background-image:url('./wood.jpg');
}

.TableTop {
  // padding: 1em;
  background-color: rgba(0,0,0,.1);
  background-image:  url('./pool_table.png');
  background-repeat: repeat;
  min-height: 100vh;
  min-height: 600px;
  overflow: hidden;
  border-radius: 40em;
  box-shadow:
   0 5px 20px 9px inset rgba(0,0,0,.50),
   0 0 4px 9px inset rgba(0,0,0,.20),
   -6px 8px 5px 12px inset rgba(0,0,0,.2);

  // display: flex;
  // justify-content: center;
  // align-items: center;




  


}
/*
.TableTop::after {
  background-image: radial-gradient(transparent, rgba(0, 0, 0, 0.3));
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
*/

.TableOverlay {
  background-image: radial-gradient(circle, transparent 10%, rgba(255,255,255, 0.1), transparent 50%, rgba(0, 0, 0, 0.35));
  display: flex;
  justify-content: center;
  align-items: center;
  // min-height: 100vh;
  // min-height:60vh;
  min-height: 600px;
}

.CardZones {
  display: inline-grid;
  grid-template-columns: auto auto;
}

.Player {
  position: absolute;
}

.Player.Bottom {
  bottom: -10px;
}

.Player.Top {
  top: 0;
  // transform: translateY(-35%);
}

.Player.Bottom {
  bottom: 0;
  // transform: translateY(35%);
}


.Player {
  position: absolute;
}

.UpsideDown {
  // background-color: red;
  background-image: url('./BicycleBack.jpg');
  background-size: calc(100% - .6em) calc(100% - .6em);
  background-repeat: no-repeat;
  background-position: center;
}

.CardZone {
  border: 2px solid rgba(255,255,255,.5);
  background-color: rgba(255,255,255,.15);
  border-radius: 2px;
  // z-index: 12;
}

.CardFlip {
  // transition: transform .9s;
  background-color: #FFF;
  position: absolute;
  bottom: 0;
  transition: none;
  // transition-delay: opacity .1s;
  z-index: 10;
  // transition: box-shadow .6s ease-in-out, transform .3s ease-out, bottom .3s ease-out, top .3s ease-out;
}

// .CardFlip:hover {
.Flipping {
  // z-index: 0;
  opacity: 0;
  transition: box-shadow .6s ease-in-out, transform .3s ease-out, bottom .3s ease-out, top .3s ease-out, opacity .3s ease-in;
}

// .CardFlip:hover, .CardZone {
.Flipping, .CardZone {
  position: absolute;
  // background-image: none;
  box-shadow: none;
}

// .CardFlip.Bottom:hover {
.Bottom .CardFlip.Flipping {
  transform: translate(10vw, -30vh) rotateX(180deg);
  bottom: 0;
}

// .CardFlip.Bottom {
.Bottom .CardFlip.Flipping {
  // box-shadow: -2px -1px 4px rgba(0,0,0,.35);
  // background-image: none;
  // top: 50%;
  // bottom: 50%;
  // transform: translate(100%, 50%) rotateX(180deg);
  // transform: translate(70%, 100%) rotateX(180deg);

  box-shadow: -2px -1px 4px rgba(0,0,0,.35);
}

.CardZone.Bottom {
  transform: translate(10vw, -30vh);
  bottom: 0;
}

// .CardFlip.Top:hover {
.Top .Flipping {
  transform: translate(-10vw, 30vh) rotateX(-180deg);
  top: 0; 
}

.CardZone.Top {
  transform: translate(-10vw, 30vh);
  top: 0;
}

.Score {
  position: absolute;
  transform: translateX(-50%);
  background-image: linear-gradient(90deg, transparent, rgba(20, 20, 20, .95) 20%, #141414, rgba(20, 20, 20, .95) 80%, transparent 100%);
  background-image: linear-gradient(90deg, transparent, rgba(2, 2, 20, .95) 20%, rgb(2, 2, 20), rgba(2, 2, 20, .95) 80%, transparent 100%);
  padding: 0 2em;
  color: #FFF;
  bottom: 0;
  font-weight: 600;
  z-index: 11;
  text-align: center;
  font-size: 18px;
  width: 133%;
  left: 50%;
  // box-shadow: 0 5px 10px -6px rgba(0,0,0,.5);
}

.Title {
  box-shadow: 0 2px 3px -2px rgba(200,200,200,.5);
}

.ScoreNum {
  font-size: 1.5em;
  text-align: center;
}


.Login {
  font-size: 2rem;
  background-image: url('./CardsScattedUp.jpg');
  padding: 122px 50px;
  background-size: cover;
  border-radius: 6px;
  box-shadow: 0 0 20px rgba(0,0,0,.3);

  h1 {
    color:#d12d36;
    // text-shadow:  2px -3px 0 rgba(255,255,255,1), 0 3px 5px rgba(0,0,0,.5);
    background-color: rgba(255,255,255,.98);
    padding: 0 10px;
    border-radius: 2px;
    box-shadow: 0 0 5px rgba(0,0,0,.5);
    margin-bottom: 1em;
    margin-top: 0;
    font-weight: 600;
    // text-decoration: underline;
  }
}

.LoginForm {
  padding: 1em;
  background-color: rgba(255,255,255,.98);
  box-shadow: 0 2px 5px rgba(0,0,0,.5);
  display: flex;
  flex-direction: column;
  border-radius: 8px;

  h2 {
    margin: 0 0 10px 0;
    text-align: center;
    // font-weight: 600;
    font-weight: normal;
    // text-decoration: underline;
  }

  input, button{
    margin: 10px;
    font-size: 18px;
  }

  p {
    font-size: 16px;
    text-align: center;
  }
}





.App {
  font-size: 18px;
}

@media (max-width: $mediaBp1) {
  .App {
    font-size: 16px;
  }
}

@media (max-width: $mediaBp2) {
  .App {
    font-size: 14px;

    
  }

  .Table {
    width: auto;
  }
}

@media (max-width: $mediaBp3) {
  .App {
    font-size: 11px;
  }
}

@media (max-width: $mediaMinWidth) {
  .App {
    font-size: 10px;
  }
}