/* Using SCSS variables to store breakpoints */
// $bp-tablet: 768px;

$mediaBp1: 1260px;
$mediaBp2: 960px;
$mediaBp3: 768px;
$mediaMinWidth: 480px;


// @media only screen and (max-width: 600px) {
//   .App {
//     font-size: 10px
//   }
// }

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // padding-top: 1.5em;
  min-height: 100vh;
  background-color: #444;
  background-image: url('./classy_fabric.png');
  transition: font-size .3s;
  font-family: 'Roboto Slab', serif;
}

.StartMsg {
  text-align: center;
  background-color: rgba(0,0,0,.65);
  letter-spacing: 1px;
  // border: 2px solid rgba(0,0,0,1);
  padding: 0 8px;
  border-radius: 3px;
  // filter: blur(4px);
  color: #FFF;
  text-shadow: -1px 0 #d12d36, 0 1px #d12d36, 1px 0 #d12d36, 0 -1px #d12d36, 
  -1px -1px #d12d36, 1px 1px #d12d36, 1px -1px #d12d36, 1px -1px #d12d36;;
}


// .winnerMsg {
//   color: #d12d36;
//   // background-color: #FFF;
//   font-size: 3em;
//   text-shadow: 2px 2px 15px rgba(0,0,0,.8), 3px 3px #8c5e61, 3px 3px 15px rgba(0,0,0,.8);
//   padding: 6px;
// }

.winnerMsg {
  font-size: 3em;
  text-shadow: 2px -2px 4px rgba(0,0,0,.2), 2px -2px #d12d36, 3px -3px #d12d36, 3px 3px 8px rgba(2,0,0,.8);
  padding: 6px;
  color: #d12d36;
}

.GameButtons {
  display: flex;
  flex-direction: row;
  // position: absolute;
  // right: 10px;
  // bottom: 10px;
  width: 100%;
  justify-content: flex-end;
  padding-top: 1em;
}


.NewGame, .LoginButton  {
  background-color:#d12d36;
  color:#FFF;
}

.LoginButton, .SignUpButton, .NewGame, .LeaderboardButton {
  // position: fixed;
  // left: 1em;
  // top: 1em;
  font-size: 2em;
  border: none;
  padding: .25em;
  box-shadow: 1px 1px 9px 2px rgba(0,0,0,.35);
  border-radius: 4px;

  transition: box-shadow .2s;
  margin-right: 1em;
  margin-bottom: 1em;
  text-decoration: none;;
}

.LoginButton:active, .NewGame:active {
  box-shadow: none;
  color:#d12d36;
  background-color:#FFF;
}


.SignUpButton,.LeaderboardButton {
  text-decoration: none;
  color:#d12d36;
  background-color:#FFF;
  border: none;
}

/*.Card.Hearts, .Card.Clubs,
.Card.Spades, .Card.Diamonds  {
  background-image: url('./creampaperLowOpac.png');
  background-color: #FFF;
  box-shadow: 2px 1px 4px rgba(0,0,0,.35);
}*/

.Card {
  background-image: url('./creampaperLowOpac.png');
  background-color: #FFF;
  box-shadow: 2px 1px 4px rgba(0,0,0,.35);
  background-repeat: repeat;
  // border: 1px solid #EEE;

  width: 8em;
  height: 12.44em;
  // width: 9em;
  // height: 14em;

  // width: 13.5em;
  // height: 21em;

  // width: 11.25em;
  // height: 17.5em;


  border-radius: 3px;
  border-radius: .222em;
  padding: 0 .25em;
  margin: .25em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: box-shadow .6s, border-radius .2s, transform .5s;
  

  .Number {
    font-size: 1.8em;
    font-family: 'Roboto Slab', serif;
  }

  .Number:first-child {
    align-self: flex-start;
  }

  .Number:last-child {
    align-self: flex-end;
  }

  .Suit {
    font-size: 4em;
    align-self: center;
  }
}

.Card:hover {
  box-shadow: 3px 6px 4px rgba(0,0,0,.35), -1px -3px 3px inset rgba(0,0,0,.23), 3px 1px 8px inset rgba(255,255,255,.7);
  // border-radius: .22em .22em .5em .22em;
  transform: translate(-4px, -3px);
}

.Card.Hearts, .Card.Diamonds {
  color: #d12d36;
}

.Table {
  min-height: 60vh;
  // overflow: hidden;
  // border-radius: 25em;
  width: 80vw;
  margin: auto;
  // margin: 5em;
  transition: width .2s;
  position: relative;
}

.ArmRest {
  box-shadow: 0 0 10px 100em inset rgba(0,0,0,.2);
  background-color: #916e43;
  padding: 3em;
  background-image:url('./wood.jpg');
  border-radius: 25em;
  box-shadow: 0px 20px 50px rgba(0,0,0,.5), 0px 10px 20px rgba(0,0,0,.3);
}

.TableTop {
  // padding: 1em;
  background-color: rgba(0,0,0,.1);
  background-image:  url('./pool_table.png');
  background-repeat: repeat;
  min-height: 100vh;
  min-height: 600px;
  overflow: hidden;
  border-radius: 40em;
  box-shadow:
   0 5px 20px 9px inset rgba(0,0,0,.50),
   0 0 4px 9px inset rgba(0,0,0,.20),
   -6px 8px 5px 12px inset rgba(0,0,0,.2);

  // display: flex;
  // justify-content: center;
  // align-items: center;




  


}
/*
.TableTop::after {
  background-image: radial-gradient(transparent, rgba(0, 0, 0, 0.3));
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
*/

.TableOverlay {
  background-image: radial-gradient(circle, transparent 10%, rgba(255,255,255, 0.1), transparent 50%, rgba(0, 0, 0, 0.35));
  display: flex;
  justify-content: center;
  align-items: center;
  // min-height: 100vh;
  // min-height:60vh;
  min-height: 600px;
  flex-direction: column;
}

.CardZones {
  display: inline-grid;
  grid-template-columns: auto auto;
}

.Player {
  position: absolute;
}

.Player.Bottom {
  bottom: -10px;
}

.Player.Top {
  top: 0;
  // top: -40px;
  top: -10%;
  // transform: translateY(-35%);
}

.Player.Bottom {
  bottom: 0;
  // bottom: -40px;
  bottom: -10%;
  // transform: translateY(35%);
}

.PlayedCount {
  text-align: center;
  padding: 4px 8px;
  color: #d12d36;
  border: 2px solid #d12d36;
  text-shadow: 1px 1px 1px rgba(0,0,0,.8);
  border-radius: 2px;
  font-size: 1.5em;
  background-color: rgb(255,255,255);
  z-index: 20;
}

.Player {
  position: absolute;
}

.WarMsg {
  font-weight: bold;
  font-size: 32px;
}

.UpsideDown {
  // background-color: red;
  background-image: url('./BicycleBack.jpg');
  background-size: calc(100% - .6em) calc(100% - .6em);
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 2px 1px 4px rgba(0,0,0,.35);
}

.CardZone {
  border: 2px solid rgba(255,255,255,.5);
  background-color: rgba(255,255,255,.15);
  border-radius: 2px;
  // z-index: 12;
  transition: none;
}

.CardZone .Card {
  opacity: .25;
}

.CardZone .Card:hover {
  transform: none;
}

.CardZone {
  .Card.Clubs, .Card.Hearts,
  .Card.Diamonds, .Card.Spades {
    opacity: 1;
  }
}

.TopWonTurn .CardZone,
.BottomWonTurn .CardZone {
  transition: .4s;
  transform: none !important;
  border: none;
  border: 1px solid rgba(242, 192, 75, .5);
  background-color: rgba(242, 192, 75, .5);
}


.TopWonTurn .CardZone {
  // top: -40px !important;
  top: -10% !important;
  bottom: auto !important;

}

.BottomWonTurn .CardZone {
  top: auto !important;
  // bottom: -40px !important;
  bottom: -10%!important;
}

.BottomWonTurn.CardZone, .TopWonTurn.CardZone {
  .Card.Clubs, .Card.Hearts,
  .Card.Diamonds, .Card.Spades {
    opacity: .9;
  }
}


.CardFlip {
  // transition: transform .9s;
  background-color: #FFF;
  position: absolute;
  bottom: 0;
  transition: none;
  // transition-delay: opacity .1s;
  z-index: 10;
  // transition: box-shadow .6s ease-in-out, transform .3s ease-out, bottom .3s ease-out, top .3s ease-out;
}

// .CardFlip:hover {
.Flipping {
  // z-index: 0;
  opacity: 0;
  transition: box-shadow .6s ease-in-out, transform .3s ease-out, bottom .3s ease-out, top .3s ease-out, opacity .3s ease-in;
}

// .CardFlip:hover, .CardZone {
.Flipping, .CardZone {
  position: absolute;
  // background-image: none;
  box-shadow: none;
}

// .CardFlip.Bottom:hover {
.Bottom .CardFlip.Flipping {
  transform: translate(10vw, -18vh) rotateX(180deg);
  bottom: 0;
}

// .CardFlip.Bottom {
.Bottom .CardFlip.Flipping {
  // box-shadow: -2px -1px 4px rgba(0,0,0,.35);
  // background-image: none;
  // top: 50%;
  // bottom: 50%;
  // transform: translate(100%, 50%) rotateX(180deg);
  // transform: translate(70%, 100%) rotateX(180deg);

  box-shadow: -2px -1px 4px rgba(0,0,0,.35);
}

.CardZone.Bottom {
  transform: translate(10vw, -18vh);
  bottom: 0;
}

// .CardFlip.Top:hover {
.Top .Flipping {
  transform: translate(-10vw, 18vh) rotateX(-180deg);
  top: 0; 
}

.CardZone.Top {
  transform: translate(-10vw, 18vh);
  top: 0;
}

.Score {
  position: absolute;
  transform: translateX(-50%);
  background-image: linear-gradient(90deg, transparent, rgba(20, 20, 20, .95) 20%, #141414, rgba(20, 20, 20, .95) 80%, transparent 100%);
  background-image: linear-gradient(90deg, transparent, rgba(2, 2, 20, .95) 20%, rgb(2, 2, 20), rgba(2, 2, 20, .95) 80%, transparent 100%);
  padding: 0 2em;
  color: #FFF;
  bottom: 0;
  font-weight: 600;
  z-index: 11;
  text-align: center;
  font-size: 18px;
  width: 133%;
  left: 50%;
  // box-shadow: 0 5px 10px -6px rgba(0,0,0,.5);
}

.Title {
  box-shadow: 0 2px 3px -2px rgba(200,200,200,.5);
}

.ScoreNum {
  font-size: 1.5em;
  text-align: center;
}


.Login {
  font-size: 2rem;
  background-image: url('./CardsScattedUp.jpg');
  padding: 100px;
  background-size: cover;
  border-radius: 6px;
  box-shadow: 0 0 20px rgba(0,0,0,.3);
  text-align: center;
  color: #FFF;
  border: 2px solid #333;

  h1, h2 {
    letter-spacing: 3px;
    text-shadow: -3px 0 #d12d36, 0 3px #d12d36, 3px 0 #d12d36, 0 -3px #d12d36, 
    -3px -3px #d12d36, 3px 3px #d12d36, 3px -3px #d12d36, 3px -3px #d12d36;
  
    // color:#d12d36;
    // text-shadow:  2px -3px 0 rgba(255,255,255,1), 0 3px 5px rgba(0,0,0,.5);
    // background-color: rgba(255,255,255,.98);
    // padding: 0 10px;
    // border-radius: 2px;
    // box-shadow: 0 0 5px rgba(0,0,0,.5);
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 600;
  }

  h2 {
    padding: 0 1em;
  } 
}

.LoginForm {
  padding: 1em;
  background-color: rgba(20, 20, 20, 0.97);
  box-shadow: 0 2px 5px rgba(0,0,0,.5);
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: 1px solid #BBB;

  h3 {
    margin: 1em 0;
    text-align: center;
    // font-weight: 600;
    font-weight: normal;
    // text-decoration: underline;
  }

  input, button{
    margin: 10px;
    font-size: 18px;
  }

  p {
    font-size: 16px;
    text-align: center;
  }
}

.Leaderboard {
  // background-color: #FFF;
  padding: 20px 40px;

  h1 {
    font-size: 48px;
    background-color: #FFF;
    text-align: center;
    padding: 8px;
  }
}

.LeaderboardTable {
  font-size: 32px;
  // border: 2px solid 
  margin: auto;

  th, td {
    padding: 10px 24px;
    margin: 8px;
    background-color: #FFF;
  }
}



.App {
  font-size: 18px;
}

@media (max-width: $mediaBp1) {
  .App {
    font-size: 16px;
  }

  .Table {
    max-width: 80vw;
  }
}

@media (max-width: $mediaBp2) {
  .App {
    font-size: 14px; 
  }

  .Table {
    max-width: 70vw;
  }
}

@media (max-width: $mediaBp3) {
  .App {
    font-size: 11px;
  }
}

@media (max-width: $mediaMinWidth) {
  .App {
    font-size: 10px;
  }
}